/*
VER IPAD AIR RESPONSIVIDADE

*/

*,
body {
    margin: 0;
    padding: 0;
}


:root {
    --primaria-1: #DED947;
    --primaria0: #C5AE5B;
    --primaria1: #D4A344;
    --secundaria1: #405D78;
    --secundaria0: #152C3C;
    --primaria1: #243545;
    --terciaria-1: #1A1A1A;
    --terciaria0: #000000;
    --terciaria1: #000000;
    --background-color: #EBEBED;
}

p.big-title {
    margin-bottom: 0;
    padding-top: 40px;

    color: var(--secundaria0);
    font-weight: 700;    
    text-decoration: underline 1.5px var(--secundaria0);    
}

/* Header */
header,
nav {
    background-color: var(--background-color);
}

header nav a img {
    width: 224px;
}

.nav-link {
    color: var(--primaria0) !important;
    font-weight: 700;
    font-size: 16px;
}

.nav-link:hover {
    color: var(--secundaria0) !important;
}

/*Services*/
.services {
    background-color: var(--background-color);
}

.services .title p.sub-title {
    color: var(--secundaria0);
    font-weight: 700;
}

.icon {
    margin-top: 50px;
    padding-bottom: 50px;
}

.icon-img {
    margin-right: 5%;
}

.icon-text {
    color: var(--primaria0);
    font-weight: 700;
}


/*Team*/
.team {
    background-color: var(--background-color);
}

.team .title{
    padding-bottom: 50px;
    
}

.team aside {
    padding-bottom: 50px;
}

.team aside img{
    margin-right: 30px;

}

.team aside article p.lawyer{
    padding-bottom: 30px;

    color: var(--primaria0);
    font-weight: 600;
}

@media(max-width: 425px) {
    .icon-img {
        display: block;
        width: auto;
        margin: auto;
    }

    .icon-text {
        font-size: 13px !important;
        text-align: center;
    }

    .team aside img{
        display: block;
        width: auto;
        margin: auto;        
        margin-bottom: 20px;
    }

    .team aside article p.lawyer{
        padding-bottom: 10px;
    }
}