*,
body {
    margin: 0;
    padding: 0;
}


:root {
    --primaria-1: #DED947;
    --primaria0: #C5AE5B;
    --primaria1: #D4A344;
    --secundaria-1: #405D78;
    --secundaria0: #152C3C;
    --secundaria1: #243545;
    --terciaria-1: #1A1A1A;
    --terciaria0: #000000;
    --terciaria1: #000000;
    --background-color: #EBEBED;
}

p.big-title {
    margin-bottom: 0;
    padding-top: 40px;

    color: var(--secundaria0);
    font-weight: 700;

}

main {
    background-color: var(--background-color);
}

/* Header */
header,
nav {
    background-color: var(--background-color);
}

header nav a img {
    width: 224px;
}

.nav-link {
    color: var(--primaria0) !important;
    font-weight: 700;
    font-size: 16px;
}

.nav-link:hover {
    color: var(--secundaria0) !important;
}

/* Banner */
#banner {
    display: block;
}

#banner button {
    margin-top: -23%;
    margin-left: 2%;

}

#banner button a {
    text-decoration: none;
    font-size: 90%;
    text-align: center;
    color: var(--primaria0);
    font-weight: 500;
}

#banner button:hover {
    background-color: var(--secundaria-1);
}

#banner button a:hover {
    color: var(--primaria-1);
}

/* QuemSomos */

#quemSomos {

    padding: 30px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#quemSomos img {
    padding-right: 50px;
    width: 40%;
}

#quemSomos article {
    width: 50%;
}

#quemSomos article p {
    color: var(--secundaria0);
    text-align: justify;
}

#quemSomos article p.citacao {
    color: var(--primaria1);
    font-size: 70%;
    text-align: justify;
}

/*Services*/

#services .title p.sub-title {
    color: var(--secundaria0);
    font-weight: 700;
}

.icon {
    margin-top: 50px;
    padding-bottom: 50px;
}

.icon-img {
    margin-right: 5%;
}

#services .icon-text {
    color: var(--primaria0);
    font-weight: 700;
}


/*Team*/

#team .title {
    padding-bottom: 50px;

}

#team aside {
    padding-bottom: 50px;
}

#team aside img {
    margin-right: 30px;

}

#team aside article p.lawyer {
    padding-bottom: 30px;

    color: var(--primaria0);
    font-weight: 600;
}

#team aside article p {
    text-align: justify;
}

#team aside article div.team-icon {
    display: flex;
    justify-content: start;
    align-items: start;
}



/*Contact*/
#contact {
    background-color: var(--secundaria0);
    padding-top: 30px;
}

#contact .top {
    padding-bottom: 20px;
    padding-bottom: 4%;
}

#contact .top .title {
    color: white;
    font-weight: 700;
    padding-bottom: 2%;
}

#contact .top .telephone span {
    color: var(--primaria0);
}

#contact .top p {
    margin: 0;
    padding: 0;
    color: white;
}

#contact .top p.small {
    margin: 0;
    padding: 0;

    font-size: 12px;
    color: white;
}

#contact .timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}


#contact .timetable .day {
    border: 1px solid var(--primaria0);
    background-color: var(--secundaria-1);
    padding: 1%;
    margin-left: 5%;
}

#contact .timetable .day p {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
}

#contact .timetable .day .time {
    font-size: 80%;
}


#contact .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

#contact .icons a {
    margin-left: 3%;
}


/*Footer*/
footer {
    background-color: var(--secundaria-1);
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .links {
    margin-right: 10%;
}

footer .links ul li {
    list-style: none;
}

footer .links ul li a {
    color: var(--primaria1);
    text-decoration: none;
}

footer .links ul li a:hover {
    color: white;
}

footer iframe {
    width: 100%;
}

@media(max-width: 450px) {
    .icon-img {
        display: block;
        width: auto;
        margin: auto;
    }

    .icon-text {
        font-size: 13px !important;
        text-align: center;
    }

    #banner button{
        margin-top: -100%;
        margin-left: 7%;
    }

    #quemSomos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #quemSomos img {
        width: 90%;
        padding: 0;
    }

    #quemSomos article {
        width: 90%;
    }

    #team aside img {
        display: block;
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    #team aside article p.lawyer {
        padding-bottom: 10px;
    }

    #team aside article div.team-icon {
        justify-content: center;
        align-items: center;
    }

    #team aside article div.team-icon a {
        padding-left: 20%;
        padding-top: 5%;
    }

    #contact .top p.small {
        margin-bottom: 10px;
    }
}